.cart {
   padding: 10px 0;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   &__items {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;
   }
   &__form {
      max-width: 360px;
      width: 100%;
   }
}
